@use "sass:color";
@use "../../styles/base/variables";
@use "../../styles/base/mixins";

.background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(variables.$color-dark, 0.9);
  z-index: 1020;
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
}

.container {
  position: fixed;
  width: 90vw;
  height: auto;
  z-index: 1050;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

  .description {
    color: variables.$color-dark;
    background-color: variables.$color-light;
    padding: variables.$spacing-md;
    border-radius: 0 0 variables.$border-radius variables.$border-radius;
    text-align: left;
  }

  @include mixins.responsive(variables.$breakpoint-mobile) {
    width: auto;
  }

  img {
    max-height: 90vh;
  }
}
.closeButton {
  z-index: 1050;
  position: fixed;
  top: 5vh;
  right: 5vw;
  font-size: 2rem;
  padding: variables.$spacing-xs;
}
