@use "sass:color";
@use "../../styles/base/variables";

.background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(variables.$color-dark, 0.9);
  z-index: 900;
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
}

.container {
  position: fixed;
  width: 90vw;
  height: auto;
  z-index: 950;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

  .description {
    color: variables.$color-dark;
    background-color: variables.$color-light;
    padding: variables.$spacing-md;
    border-radius: 0 0 variables.$border-radius variables.$border-radius;
    text-align: left;
  }
}
.closeButton {
  z-index: 950;
  position: fixed;
  top: 5vh;
  right: 5vw;
  font-size: 2rem;
  padding: variables.$spacing-xs;
}
// @media only screen and (min-width: 768px) {
//   .close-btn {
//     top: 30px;
//     right: 90px;
//   }
//   .carousel-container {
//     width: 60vw;
//   }
// }
