@use "../../styles/base/variables";
@use "sass:color";

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  .form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: variables.$spacing-md;
    margin: variables.$spacing-lg 0;
    .inputForm {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
    }
    .button {
      width: fit-content;
    }
  }
}
@media only screen and (min-width: 768px) {
  .content {
    padding: 25px;
    flex-direction: row;
    .copy {
      max-width: 50%;
      padding: 25px 25px 0 0;
    }
  }
}

.notification {
  position: fixed;
  width: 90vw;
  top: 1vw;
  right: 5vw;
  z-index: 100;
  margin-top: variables.$spacing-md;
  padding: variables.$spacing-sm variables.$spacing-md;
  border-radius: variables.$border-radius;
  text-align: center;
  max-width: 400px;

  &.success {
    background-color: variables.$color-success;
    color: variables.$color-dark;
    border: 1px solid
      color.scale($color: variables.$color-success, $lightness: -80%);
  }

  &.error {
    background-color: variables.$color-danger;
    color: variables.$color-dark;
    border: 1px solid
      color.scale($color: variables.$color-danger, $lightness: -80%);
  }
}
