@use "../../styles/base/variables";
@use "../../styles/base/mixins";
@use "sass:color";

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  a {
    font-weight: bold;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: variables.$spacing-md;
    margin: variables.$spacing-lg 0;
    .inputForm {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
    }
    .button {
      width: fit-content;
    }
  }
  @include mixins.responsive(variables.$breakpoint-mobile) {
    flex-direction: row;
    margin-bottom: variables.$spacing-xl;
    .copy {
      max-width: 50%;
      padding-right: variables.$spacing-lg;
    }
    .form {
      margin: 0;
    }
  }
}

.notification {
  position: fixed;
  width: 90vw;
  top: 1vw;
  right: 5vw;
  z-index: 1010;
  margin-top: variables.$spacing-md;
  padding: variables.$spacing-sm variables.$spacing-md;
  border-radius: variables.$border-radius;
  text-align: left;
  max-width: 700px;

  &.success {
    background-color: variables.$color-success;
    color: variables.$color-dark;
    border: 1px solid
      color.scale($color: variables.$color-success, $lightness: -80%);
  }

  &.error {
    background-color: variables.$color-danger;
    color: variables.$color-dark;
    border: 1px solid
      color.scale($color: variables.$color-danger, $lightness: -80%);
  }
}
