@use "./variables";

.button {
  display: inline-block;
  padding: variables.$spacing-sm variables.$spacing-md;
  text-align: center;
  text-decoration: none;
  color: variables.$color-light;
  background: variables.$color-accent;
  border: none;
  border-radius: variables.$border-radius;
  cursor: pointer;
  transition: background-color variables.$transition;
  width: fit-content;
  text-transform: uppercase;

  &:hover {
    background-color: variables.$color-accent-hover;
  }

  &:disabled {
    background-color: variables.$color-light;
    cursor: not-allowed;
  }
}

input,
textarea {
  border: 1px solid variables.$color-primary;
  background-color: variables.$color-white;
  padding: variables.$spacing-sm;
  border-radius: variables.$border-radius;
  width: 100%;
}
textarea {
  resize: none;
}
